/* Buttons */

button {
  background-color: rgba(0, 0, 0, 0);
  color: inherit;
  border-color: $border-color;
  border-radius: 0.5em;
  cursor: pointer;
}

.btn {
  @extend button;
  text-decoration: none;
  &-big {
    font-size: 2em;
    padding: 0.5em;
  }
}
