$heading-color: rgba(0, 0, 0, 0.85);
$text-color: rgba(0, 0, 0, 0.50);
$border-color: rgba(0,0,0,0.25);
$shadow-color: rgba(0,0,0,0.05);
$background_color: rgba(255, 255, 255, 1);

$font-sans-serif: "Helvetica", "Arial", "sans-serif";
